<div class="container alert alert-primary">
  <h3 class="text-center text-primary">Registration Form</h3>
  <form [formGroup]="registrationForm" class="registerForm alert bg-white">
    <fieldset>
      <legend>Personal Information</legend>
      <div class="form-group">
        <!--FirstName : <input type="text" name="firstName" [formControl]="firstName">-->
        <label>FirstName</label>
        <input class="form-control" type="text" name="firstName" formControlName="firstName" placeholder="Enter first name" [ngClass]="{'is-invalid': firstName.invalid && (firstName.touched || firstName.dirty)}">
        <div class="text-danger" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
          <!--<span [hidden]="registrationForm.firstName.invalid "></span>-->
          <span *ngIf="firstName.errors.required">FirstName is required</span>
          <span *ngIf="firstName.errors.minlength">FirstName should contain atleast 3 characters</span>
          <span *ngIf="firstName.errors.maxlength">FirstName should have upto 20 characters</span>
          <span *ngIf="firstName.errors.pattern">Alphabets only allowed</span>
        </div>
      </div><br>
      <div class="form-group">
        <label>LastName</label>
        <input class="form-control" type="text" formControlName="lastName" placeholder="Enter last name" [ngClass]="{'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched)}">
        <div class="text-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
          <span *ngIf="lastName.errors.required">LastName is required</span>
          <span *ngIf="lastName.errors.minlength">LastName should contain atleast 3 characters</span>
          <span *ngIf="lastName.errors.maxlength">LastName should have upto 20 characters</span>
          <span *ngIf="lastName.errors.pattern">Alphabets only allowed</span>
        </div>
      </div><br>
      <div class="form-group">
        <label>Date Of Birth</label>
        <input class="form-control" type="date" name="dob" (keyup)="dateValidation()" formControlName="dob" placeholder="Enter date of birth" [ngClass]="{'is-invalid': dob.invalid && (dob.dirty || dob.touched)}">
        <div class="text-danger" *ngIf="dob.invalid && (dob.dirty || dob.touched)">
          <span *ngIf="dob.errors.required">DateOfBirth is required</span>
        </div>
        <span class="text-danger">{{errorDateMsg}}</span>
      </div><br>
      <div class="form-group">
        <label>Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <div class="custom-control custom-radio">
              <input class="custom-control-input" id="maleGender" type="radio" name="gender" formControlName="gender" value="male" checked="true">
              <label class="custom-control-label" for="maleGender">Male</label>
            </div>
          </label>&nbsp;&nbsp;
          <label class="radio-inline">
            <div class="custom-control custom-radio">
              <input class="custom-control-input" id="femaleGender" type="radio" name="gender" formControlName="gender" value="female">
              <label class="custom-control-label" for="femaleGender">Female</label>
            </div>
          </label>
        </div>
        <div class="text-danger" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
          <span *ngIf="gender.errors.required">Gender is required</span>
        </div>
      </div><br>
      <div class="form-group">
        <label>Email Id</label>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Enter email id" [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}">
        <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <span *ngIf="email.errors.required">Email is Required</span>
          <!--<span *ngIf="email.errors.minlength">Email length is minimum 8 characters</span>-->
          <span *ngIf="email.errors.maxlength">Email length is maximum 20 characters</span>
          <span *ngIf="email.errors.pattern">Email is not valid</span>
        </div>
      </div><br>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="pwd" formControlName="pwd" placeholder="Enter password" [ngClass]="{'is-invalid': pwd.invalid && (pwd.dirty || pwd.touched)}">
        <div class="text-danger" *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)">
          <span *ngIf="pwd.errors.required">Password is required</span>
          <span *ngIf="pwd.errors.minlength">Password should contain atleast 8 characters</span>
          <span *ngIf="pwd.errors.maxlength">Password maximum length is 20 </span>
          <span *ngIf="pwd.errors.pattern">Password should contain atleast 1 lowercase letter, 1 uppercase letter, 1 number </span>
        </div>
      </div><br>
      <!--<div class="form-group">
        <label>Confirm Password</label>
        <input class="form-control" type="password" name="cPwd" formControlName="cPwd" placeholder="Re-Enter Password" [ngClass]="{'is-invalid': registrationForm.errors?.misMatch || cPwd.invalid && (cPwd.dirty || cPwd.touched)}">
        <div class="text-danger" *ngIf="registrationForm.errors?.misMatch || cPwd.invalid && (cPwd.dirty || cPwd.touched)">
          <span *ngIf="cPwd.errors.required">ConfirmPassword is required</span>
          <span *ngIf="registrationForm.errors?.misMatch">Password does not match</span>
        </div>
      </div>-->
      <div class="form-group">
        <label>Confirm Password</label>
        <input class="form-control" type="password" name="cPwd" (keyup)="cPwdValidation()" formControlName="cPwd" placeholder="Re-Enter Password" [ngClass]="{'is-invalid': cPwd.invalid && (cPwd.dirty || cPwd.touched)}">
        <div class="text-danger" *ngIf="cPwd.invalid && (cPwd.dirty || cPwd.touched)">
          <span *ngIf="cPwd.errors.required">ConfirmPassword is required</span>
        </div>
        <span class="text-danger">{{errorCPwdMsg}}</span>
      </div>
    </fieldset>
    <div formGroupName="marks">
      <!--<h3>Marks</h3>-->
      <fieldset>
        <legend>Marks</legend>

        <div class="form-group">
          <label>English</label>
          <input class="form-control" type="text" name="english" formControlName="english" placeholder="Enter english marks" [ngClass]="{'is-invalid': english.invalid && (english.dirty || english.touched)}">
          <div class="text-danger" *ngIf="english.invalid && (english.dirty || english.touched)">
            <span *ngIf="english.errors.required">English marks required</span>
            <span *ngIf="english.errors.pattern">Marks contain only numbers</span>
            <!--<span *ngIf="english.errors.min">above 18 only allowed</span>
            <span *ngIf="english.errors.max">maximum marks only 100</span>-->
          </div>
        </div><br>
        <div class="form-group">
          <label>Maths</label>
          <input class="form-control" type="text" name="maths" formControlName="maths" placeholder="Enter maths marks" [ngClass]="{'is-invalid': maths.invalid && (maths.dirty || maths.touched)}">
          <div class="text-danger" *ngIf="maths.invalid && (maths.dirty || maths.touched)">
            <span *ngIf="maths.errors.required">Maths marks required</span>
            <span *ngIf="maths.errors.pattern">Marks contain only numbers</span>
            <!--<span *ngIf="maths.errors.min">above 18 only allowed</span>
            <span *ngIf="maths.errors.max">maximum marks only 100</span>-->
          </div>
        </div><br>
        <div class="form-group">
          <label>Science</label>
          <input class="form-control" type="text" name="science" formControlName="science" placeholder="Enter science marks" [ngClass]="{'is-invalid': science.invalid && (science.dirty || science.touched)}">
          <div class="text-danger" *ngIf="science.invalid && (science.dirty || science.touched)">
            <span *ngIf="science.errors.required">Science marks required</span>
            <span *ngIf="science.errors.pattern">Marks contain only numbers</span>
            <!--<span *ngIf="science.errors.min">above 18 only allowed</span>
            <span *ngIf="science.errors.max">maximum marks only 100</span>-->
          </div>
        </div><br>
        <div class="form-group">
          <label>Social</label><input class="form-control" type="text" name="social" formControlName="social" placeholder="Enter social marks" [ngClass]="{'is-invalid': social.invalid && (social.dirty || social.touched)}">
          <div class="text-danger" *ngIf="social.invalid && (social.dirty || social.touched)">
            <span *ngIf="social.errors.required">Social marks required</span>
            <span *ngIf="social.errors.pattern">Marks contain only numbers</span>
            <!--<span *ngIf="social.errors.min">above 18 only allowed</span>
            <span *ngIf="social.errors.max">maximum marks only 100</span>-->
          </div>
        </div><br>
      </fieldset>
    </div>

    <!--<input class="btn btn-primary" type="button" value="Register" [routerLink]="['/home']"  (click)="onRegisterClick()">-->
    <input class="btn btn-primary registerBtn" type="button" value="Register" (click)="onRegisterClick()" [disabled]="registrationForm.invalid">
    <!--<div [innerHTML]="msg"></div>-->
  <br><br>
    <!--{{registrationForm.value | json }}-->

  </form>
</div>
