<div class="container">
  <h3 class="text-center text-info">Login Form</h3>
  <form class="loginForm" [formGroup]="loginForm">
    <div class="form-group">
      <label>UserName</label>
      <input class="form-control" type="text" name="userName" [(ngModel)]="formMail" formControlName="userName" placeholder="Enter mail or user id" [ngClass]="{'is-invalid': userName.invalid && (userName.dirty || userName.touched)}">
      <div class="text-danger" *ngIf="userName.invalid && (userName.dirty || userName.touched)">
        <span *ngIf="userName.errors.required">Please provide Username</span>
        <span *ngIf="userName.errors.minLength">This field should contain Atleast 8 characters</span>
        <span *ngIf="userName.errors.maxLength">This field should maximum 20 characters</span>
        <span *ngIf="userName.errors.pattern">Please provide correct userName</span>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" name="pwd" [(ngModel)]="formPassword" formControlName="pwd" placeholder="Enter password" [ngClass]="{'is-invalid': pwd.invalid && (pwd.dirty || pwd.touched)}">
      <div class="text-danger" *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)">
        <span *ngIf="pwd.errors.required">Please provide Password</span>
        <span *ngIf="pwd.errors.minLength">This field should contain Atleast 8 characters</span>
        <span *ngIf="pwd.errors.maxLength">This field should maximum 20 characters</span>
        <span *ngIf="pwd.errors.pattern">Password should be Strong</span>
        <span></span>
      </div>
    </div><br>
    <button class="btn btn-success loginBtn" type="submit" (click)="login()">Login</button>
  </form>
  <div class="text-center text-success" [innerHTML]="success"></div>
  <h4 class="text-center text-danger" [innerHTML]="fail"></h4>
  <div class=""></div>
  <br>
  <!--<div class="text-center" *ngIf="loginSuccess">
    <button class="btn btn-warning homeBtn" [routerLink]="['/home']">Home</button>
  </div>-->
</div>
