<div class="container alert alert-success">
    <h3>Parent component</h3>
    <h4>{{message}}</h4>
    <app-child (messageEvent)="receiveMessage($event)"></app-child>
    <!-- <h2>{{master}} controls {{heroes.length}} heroes</h2> -->
   <!-- <app-child *ngFor="let hero of heroes" [hero]="hero" [master]="master"></app-child> -->
   
   <!-- <app-sibling></app-sibling>  -->
   <!-- <app-employee-list></app-employee-list> -->
    <br>
   <button class="btn btn-danger" [routerLink]="['/studentList']">Display Student List<br>Without @Injectable Decorator</button>&nbsp;&nbsp;
   <button class="btn btn-warning" [routerLink]="['/employeeList']">Dislay Employee List<br>With @Injectable Decorator</button>  
   <br>
   <app-custom-observable></app-custom-observable>
</div>