<div class="container">
  <div [hidden]="submitted">
    <h3 class="text-center text-info">Template driven forms</h3>
    <div class="text-center">
      <button class="btn btn-info" [routerLink]="['/fieldsets']">Fieldset</button>
    </div>
    <form #detailsForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="details.name" name="name" #name="ngModel" required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Invalid name</div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="details.email" name="email" #email="ngModel" required>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Invalid email</div>
      </div>
      <div class="form-group">
        <label for="name">State</label>
        <select type="text" class="form-control" id="state" [(ngModel)]="details.state" name="state" #state="ngModel" required>
          <option>Select State</option>
          <option *ngFor="let state of states" [value]="state">{{state}}</option>
        </select>
        <div [hidden]="state.valid || state.pristine" class="alert alert-danger">State is required</div>
      </div>
      <div class="form-group">
        <label for="name">City</label>
        <select type="text" class="form-control" id="city" [(ngModel)]="details.city" name="city" #city="ngModel" required>
          <option>Select City</option>
          <option *ngFor="let city of cities" [value]="city">{{city}}</option>
        </select>
        <div [hidden]="city.valid || city.pristine" class="alert alert-danger">City is required</div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!detailsForm.form.valid">submit</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-warning" (click)="addNew(); detailsForm.reset()">Add</button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <div class="row">
      <div class="col-xs-3">Name</div>--
      <div class="col-xs-9">{{ details.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Email</div>--
      <div class="col-xs-9">{{ details.email }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">State</div>--
      <div class="col-xs-9">{{ details.state }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">City</div>--
      <div class="col-xs-9">{{ details.city }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>

</div>
